<!-- HTML Comment -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tim Davies - Aspiring Web Developer</title>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <script src="/javascript/script.js"></script>
        <script src="https://kit.fontawesome.com/169b989710.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
		<link rel="manifest" href="site.webmanifest">
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	
	<body>
        <div class="header">
            <h2>Tim Davies</h2>
            <h4>Aspiring Web Developer</h4>
        </div>
		<ul class="navbar">
		    <li><a class="navname" href="#">Tim Davies</a></li>
		    <li><a href="#about">About</a></li>
		    <li><a href="#skills">Skills</a></li>
		    <li><a href="#projects">Projects</a></li>
		    <li><a href="#contact">Contact</a></li>
		</ul>

        <div class="flex-container">
		    <div id="skills" class="column side">
		    	<h3 class="headings">Skills</h3>
			    <p><i class="fa fa-caret-right" aria-hidden="true"></i> Basic knowledge of HTML, CSS and JavaScript.</p>
				<p><i class="fa fa-caret-right" aria-hidden="true"></i> Creating and running hosted web-apps using a MongoDB, Express & Node stack.</p>
			    <p><i class="fa fa-caret-right" aria-hidden="true"></i> Familiarity with using libraries to improve my productivity, such as Bootstrap and jQuery.</p>
			    <p><i class="fa fa-caret-right" aria-hidden="true"></i> Managing version control on my own projects and learning from open-source projects via Github.</p>
			    <p><i class="fa fa-caret-right" aria-hidden="true"></i> Using the AWS Cloud9 IDE to access my development environment from any machine.</p>	
		    </div>
		    <div id="about" class="column middle">
			    <h3 class="headings">About</h3>
				<p>I am a finance graduate with varied work and life experience currently seeking to start a career in software development. To achieve this, I have completed a basic Web Developer Bootcamp and am now taking further classes to learn more advanced concepts like React, whilst creating portfolio projects to demonstrate the skills I have learned.</p>
				<p>My work experience is in a combination of different fields, from technical and analytic work to experience in client-facing roles. I believe I bring this technical perspective along with a customer-focused mindset to the firms that I work for and that this will prepare me well for a career in software development.</p>
			</div>		    
		    <div id="projects" class="column side">
				<h3 class="headings">Projects</h3>
				<a class=".contact-icons" href="https://github.com/vhf45/motodb"><i class="fab fa-github"></i></a><a href="https://themotorcycledatabase.herokuapp.com" target="_blank"> Bootcamp Dynamic web app project</a><br>
				<a class=".contact-icons" href="https://github.com/vhf45/todoList"><i class="fab fa-github"></i></a><a href="https://todolist5555.herokuapp.com" target="_blank"> To-Do List Single Page Web App</a>
				<p>React Web App: In progress</p>
			</div>
		</div>
			    
		<div id="contact">
			<h3 class="headings">Contact</h3>
			<a class=".contact-icons" href="mailto:t.m.davies@live.com"><i class="fas fa-envelope"></i></a>
			<a class=".contact-icons" href="https://drive.google.com/open?id=1usIGsmcE6H1c_ekaE3iP25dFuFfnzj7J"><i class="fas fa-file-pdf"></i></a>
			<a class=".contact-icons" href="https://www.linkedin.com/in/timdavies11"><i class="fab fa-linkedin"></i></a>
			<a class=".contact-icons" href="https://www.github.com/vhf45"><i class="fab fa-github"></i></a>
		</div>
		<div class="footer">
		    <p>Tim Davies 2019</p>
		</div>
	</body>
</html>
